<%- include("partials/header"); -%>
<form action="/register" class="form-signin" method="POST">
 <div class="text-center mb-4">
   <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
   <i class="fab fa-stack-overflow fa-6x"></i>
   <h1 class="h3 mb-3 font-weight-normal">Stack OverFlow</h1>
 </div>
 <div class="form-row">
     <div class="form-label-group col-md-6">
       <input type="text" class="form-control" name="firstName" placeholder="First Name" autofocus>
       <label> First Name:</label>
     </div>
     <div class="form-label-group col-md-6">
       <input type="text" class="form-control" name ="lastName" placeholder="Last Name">
        <label>Last Name:</label>
     </div>
   </div>
   <div class="form-label-group">
     <input type="text" class="form-control" name="profileName" placeholder="User Name" autofocus>
     <label>UserName:</label>
   </div> 
   <div class="form-label-group">
     <input type="text" class="form-control" name="image" placeholder="Image Url" autofocus>
     <label>ImageUrl:</label>
   </div>
 <div class="form-label-group">
   <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" autocomplete="off" required >
   <label for="inputEmail">Email</label>
 </div>

 <div class="form-label-group">
   <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" autocomplete="off" required>
   <label for="inputPassword">Password</label>
 </div>
 <div class="form-label-group">
 <textarea id="description" class="form-control" name="description" rows="2" cols="80" placeholder="describe yourself" ></textarea>
</div>
  <button class="btn btn-lg btn-dark btn-block" type="submit">Sign up</button>
  <a href="/login" class="btn btn-lg btn-secondary btn-block">Login?</a>
  <p class="mt-5 mb-3 text-muted text-center">&copy; Stack overflow</p>
</Form>



<%- include("partials/footer"); -%>
